# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store

# environment files
.env*.local
.env
.env.development
.env.test
.env.production

# Google Cloud credentials
voice_chatbot/chatbt-*.json
voice_chatbot/google_credentials.json

# vercel
.vercel
